.ShopBlock .TableBody .Product .tdItem{
    border: solid 1px blue;
    padding: 0px 10px;
}

.ShopBlock .BrownColor{
    background-color: rgb(236, 78, 78);
}

.ShopBlock .TableBody button{
    height: 28px;
}